.slider-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.slider {
  position: relative;
  height: 100%;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8); /* Dark overlay */
}

.content {
  position: absolute;
  color: white;
  z-index: 10;
}
.slider  .content {
  position: absolute;
  /* left: 6.5%;
  top: 49%;
  width: 500px;
  max-width: 80%; */
  z-index: 10;
}
.slider  .content p:nth-child(1) {
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 14px;
}
.slider  .content h2 {
  font-size: 56px;
  margin: 0;
}
.slider .active {
  opacity: 1;
  z-index: 10;
}
@keyframes showContent {
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}

.slider .active h2,
.slider .active span,
.slider .active div a{
  transform: translateY(30px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
}
.slider .active h2 {
  animation-delay: 1s;
}
.slider .active p:nth-child(3) {
  animation-duration: 1.3s;
}

.buttons {
  margin-top: 10px;
}

.btn-demo, .btn-repo {
  display: inline-block;
  margin-right: 10px;
  padding: 8px 16px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  background-color: #007bff;
}

.btn-demo:hover, .btn-repo:hover {
  background-color: #0056b3;
}

.thumbnail-container {
  display: flex;
  overflow-x: auto;
  margin-top: 10px;
}

.thumbnail {
  margin-right: 10px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s ease-in-out;
}

.thumbnail.active {
  border-color: #007bff;
}

.thumbnail img {
  width: 150px;
  height: 100px;
  object-fit: cover;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.2); ;
  border: none;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 100%;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 100;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
@media screen and (max-width: 678px) {
  .thumbnail {
    justify-content: start;
  }
  .slider .list .item .content h2 {
    font-size: 60px;
  }
  /* .arrows {
    top: 10%;
  } */
}
@media screen and (max-width: 990px) {
  .prev, .next {
   top: 80vhs;
  }
}